<form method="post" action="{{ path('app_adverts_delete', {'id': advert.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ advert.id) }}">
    <button style="background: transparent ;border:none; cursor:pointer" class="btn"><i style="color: white;" class="fas fa-trash"></i></button>
</form>
